
@{
    ViewData["Title"] = "RegistrationSuccess";
}

<div class="alert alert-success">
    <h1>RegistrationSuccess</h1>
    Confirmation Mail has been send to your Email!
</div>
<div class="alert alert-warning">
    <b>NOTE: For Testing Purpose Please use Local Email Server( Can Use Papercut tool ) to verify the Email </b>
</div>

@{
    if (TempData["successLogin"] != null)
    {
        <script>
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Registration Successfull!',
                showConfirmButton: false,
                timer: 1500
            })
        </script>
    }

}